.create_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.upload{
    max-width: 450px;
    height: 500px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
}

#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file_up::before{
    content: '÷ç';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: rgb(91, 121, 42);
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;

}

#file_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 0px 6px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}
.create_product form label{
    font-weight: 600;
}
.create_product form{
    max-width: 500px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
}

.create_product form .row{
    width: 100%;
    margin: 15px 0;
}
.create_product form input,textarea{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
}
.create_product form button{
width: 200px;
height: 40px;
background-color: #555;
color: white;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;
}